{% load static %}
{% load cart_template_tags %}
{% load category_template_tags %}
{% load currency %}
{{ item.price|currency:country }}
<style>
.topbar {
    background-color: white;
    color: black !important;
}
.topbar a:hover {
    color: black;
}

/* FIX CART ALIGNMENT */
.main_menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* CART ICON */
.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 50%;
}
</style>

<header class="header1">
    <div class="container-menu-header">

```
    <!-- TOP BAR -->
    <div class="topbar">
        <div class="topbar-social">
            <a href="#" class="topbar-social-item fab fa-facebook"></a>
            <a href="#" class="topbar-social-item fab fa-instagram"></a>
            <a href="#" class="topbar-social-item fab fa-pinterest-p"></a>
            <a href="#" class="topbar-social-item fab fa-twitter"></a>
            <a href="#" class="topbar-social-item fab fa-youtube"></a>
        </div>

        <span class="topbar-child1">
            Free shipping for standard order over ₹1000
        </span>

        <div class="topbar-child2">
            <span class="topbar-email">
                {% if request.user.is_authenticated %}
                    {{ request.user.username }}
                {% else %}
                    Guest
                {% endif %}
            </span>
        </div>
    </div>

    <!-- HEADER -->
    <div class="wrap_header">

        <!-- LOGO -->
        <a href="/" class="logo">
            <h2 style="color:black;font-weight:700;">
                Style<span style="color:#2563eb;">Cart</span>
            </h2>
        </a>

        {% include "country_selector.html" %}

        <!-- MENU -->
        <div class="wrap_menu">
            <nav class="menu">
                <ul class="main_menu">

                    <li><a href="/">Home</a></li>
                    <li><a href="/shop/">Shop</a></li>

                    {% if request.user.is_authenticated %}

                    <!-- CART -->
                    <li>
                        <a href="{% url 'core:order-summary' %}" class="cart-icon">
                            🛒
                            <span class="cart-count">
                                {{ request.user|cart_item_count }}
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="/accounts/logout/">Logout</a>
                    </li>


                    {% else %}

                    <li>
                        <a href="{% url 'login' %}">Login</a>
                    </li>

                    {% endif %}

                </ul>
            </nav>
        </div>

    </div>
</div>
```

</header>
